.main {
  position: relative;
  height: 40rem;
  width: 40%;
  margin: 2rem auto;
  box-shadow: 0px 5px 14px lightgray;
  border-radius: 4px;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 2fr;
}
